version: '3'
services:
    backend:
        container_name: backend
        restart: always
        build: .
        ports:
            - 3000:3000
        volumes: 
            - .:/app
        links: 
            - mongo
    mongo:
        container_name: mongo
        image: mongo
        ports: 
            - 27017:27017